body{
    background-color: black;
    
     font-family: 'Libre Baskerville', serif;
    }
.image{
    margin-left: 25%;
    margin-top: 3rem;
    border: solid white 5px;
     }
     h1{
        text-align: center;
        color: antiquewhite;
     }    
     p{
        color: antiquewhite;
        text-align: center;
     }